<%- include("../partials/header") %>

<%- include("../partials/navigation") %>
<%- include("../partials/playlist-info") %>
<a href="./<%= playlist.url %>">back</a>

<div id="forms">
<% deletedVideos.forEach(function(video) { %>
<form action="./videos/<%= video.id %>/update" method="post">
	<fieldset>
		<label for="user_title">user title</label>
		<input name="user_title" type="text" value="<%= video.user_title %>" placeholder="<%= video.url %>" <% if (updated == video.id) {%>class="success"<%}%>>
		<button>update</button>
		<a class="search-link" href="https://www.google.com/search?q=<%= video.url %>" target="_blank">search</a>
	</fieldset>
</form>
<% }) %>
</div>

<script>
document.body.addEventListener("submit", function(event) {
	let action = event.target.action
	let value = event.target[1].value
//	event.preventDefault()
})
</script>

<%- include ("../partials/footer") %>
