<%- include("../partials/header") %>

<a href="/" class="logo">YouTube Playlist Tracker</a>

<% if (locals.playlist) { %>
<h1><a class="no-highlight" href="https://www.youtube.com/playlist?list=<%= playlist.url %>" target="_blank"><%= playlist.title %></a></h1>
<p class="subtitle">by <a class="no-highlight" href="https://www.youtube.com/user/<%= playlist.uploader_id %>" target="_blank"><%= playlist.uploader_id %></a></p>
<% } %>

<% if (locals.error) { %>
	<p class="error"><%- error %></p>
<% } else { %>
<p><span class="error"><%= deletedVideos.length %></span> / <%= videoIds.length %> (<%= deletedPercentage %>%)</p>
<ul>
	<% deletedVideos.forEach(function(video) { %>
		<li>
		<% if (video.title == "[Deleted]") { %>
			<span contenteditable="true"><%= video.title %></span>
			<a class="search-link" href="https://www.google.com/search?q=<%= video.url %>" target="_blank">search</a>
		<% } else { %>
			<span class="error"><%= video.title %></span>
		<% } %>
		</li>
	<% }) %>
</ul>
<% } %>

<%- include ("../partials/footer") %>

