<%- include("../partials/header") %>

<%- include("../partials/navigation") %>
<%- include("../partials/playlist-info") %>

<h2>total tracked videos: <%= videos.length %></h2>

<ul>
<% videos.reverse().forEach(function(video) { %>
	<li>
		<% if (video.deleted == 1) { %>
			<span class="error"><%= video.title %><span>
		<% } else { %>
			<a href="https://www.youtube.com/watch?v=<%= video.url %>" target="_blank">
				<%= video.title %>
			</a>
		<% } %>
	</li>
<% }) %>
</ul>

<!--
<% if (locals.error) { %>

	<p class="<%= errorType %>"><%- error %></p>

<% } else { %>

	<p><a class="error" href="./<%= playlist.url %>/research">Research deleted videos (<%= deletedVideos.length %>)</a></p>
	<p>Restored videos:<br>
	<span class="success"><%= restoredVideos.length %></span> / <span class="danger"><%= restoredByUserVideos.length %></span><br>
	<small>by system / by user</small>
	</p>

	<ul>
		<% restoredVideos.forEach(function(video) { %>
			<li><span class="success"><%= video.title %></span></li>
		<% }) %>
		<% restoredByUserVideos.forEach(function(video) { %>
			<li><span class="danger"><%= video.user_title %></span></li>
		<% }) %>
	</ul>

<% } %>
-->

<%- include ("../partials/footer") %>

